body {
  background-color:rgb(85, 115, 169);
}
#glCanvas {
  border: 4px;
  border-style: dashed;
  border-color: black;
  margin-left: calc((100% - 800px) / 2);
}
#description {
  font-size: 24px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
